{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>John Elder - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of John Elder."/>
<meta charset="UTF-8"> 


<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="John Elder" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">John Elder</h1>
			<h2 class="quickFade delayThree">Founder Codemy.com</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>john@codemy(.)com</a></li>
				<li><a href="http://www.johnelder.com">JohnElder.com</a></li>
				<li>111.222.3333</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>John Elder is a pioneer in Web Development who created one of the first Internet advertising networks back in 1997. He sold it to a publicly traded company at the height of the dot com boom and then went on to create the best-selling Submission-Spider search engine submission software that's been used by over 3 million individuals and small businesses in over 45 countries. 

Today he teaches Web Development courses at Codemy the online code school he founded. 

John graduated with honors with a degree in economics from Washington University in St. Louis where he was an artsci scholar.  </p>
				</div>
			</article>
			
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Founder Codemy.com</h2>
					<p class="subDetails">April 2013 - Present</p>
					<p>Online School with over 60,000 students learning to code. Wrote, filmed, edited, and produced over 50 online video courses teaching a variety of programming technologies, including: Django, Python, Ruby on Rails, Node, Javascript, PHP, HTML, CSS, SQL, PostgreSQL, MySQL, and more...</p>
				</article>
				<br/>
				<article>
					<h2>Co-Founder Introz, Inc.</h2>
					<p class="subDetails">Janruary 2012 - March 2013</p>
					<p>YouLookGoodTogether.com - Built one of the Internet's first dating websites to match you purely on looks.  Members pictures are placed next to each other and website visitors are asked: "Do these two people look good together?"  If enough people vote yes, the couple is matched and notified.</p>
				</article>
				<br/>
				<article>
					<h2>Chairman/CEO Market-Tek Enterprises, Inc.</h2>
					<p class="subDetails">Janruary 1998 - March 2010</p>
					<p>Created one of the Internet's earliest SEO Marketing tools, the "Submission-Spider" Search Engine Submission Tool.  Software was used by over three million individuals, businesses, and governments in over forty six countries around the world.</p>
				</article>
				<br/>
				<article>
					<h2>Founder BannerClicks.com Advertising Network</h2>
					<p class="subDetails">October 1997 - December 1998</p>
					<p>Built one of the Internet's very first Advertising Networks and sold the company to a publicly listed (Nasdaq) company at the height of the first dot-com boom of the late 90's.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Published Books</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Intro To Ruby Programming</h2>
					<p class="subDetails"><a href="http://www.amazon.com/Intro-Ruby-Programming-Beginners-Guide/dp/0692714413" target="new">Amazon.com Paperback</a></p>
					<p>Learn Ruby Programming from the ground up with this intro guide. Follow along as we build a Math Flashcard Game. </p>
					
				</article>
				<br/>
				<article>
					<h2>Ruby on Rails For Web Development</h2>
					<p class="subDetails"><a href="http://www.amazon.com/Learn-Ruby-Rails-For-Development/dp/0692364218" target="new">Amazon.com Paperback</a></p>
					<p>Written for the absolute Rails beginner, this book teaches anyone how to do web development using Ruby on Rails. </p>
				</article>
				<br/>
				<article>
					<h2>PHP Programming For Affiliate Marketers</h2>
					<p class="subDetails"><a href="http://www.amazon.com/dp/0972560459/?tag=intrmedi-20" target="new">Amazon.com Paperback</a></p>
					<p>As Affiliate Marketers, there's going to be time you'll need to code a little PHP. This book teaches you how.
( Kindle | Paperback )</p>
				</article>
				<br/>
				<article>
					<h2>Living The Dot Com Lifestyle</h2>
					<p class="subDetails"><a href="https://www.amazon.com/Living-Dot-Com-Lifestyle-Independence/dp/0692745777/" target="new">Amazon.com Paperback</a></p>
					<p>The Ultimate Guide to Independence and Financial Glory. Learn to live the dot com lifestyle. </p>
				</article>
				<br/>
				<article>
					<h2>The Smart Startup</h2>
					<p class="subDetails"><a href="http://www.amazon.com/Smart-Startup-Without-Falling-Venture/dp/069246512X" target="new">Amazon.com Paperback</a></p>
					<p>Learn The Smart Startup Method and crush it without falling into the Venture Capital trap! </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<br/>
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python/Django</li>
					<li>Ruby On Rails</li>
					<li>Node Javascript</li>
					<li>Lamp Stack</li>
					<li>HTML/CSS</li>
					<li>Video Production</li>
					<li>SEO/SEM</li>
					<li>Growth Hacking</li>
					<li>Content Marketing</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Washington University in St. Louis</h2>
					<p class="subDetails">B.A. Economics (Honors)</p>
						<p>Named 2008 Artsci Scholar (top 10%). Named 2006 Thomas H. Eliot Scholar. Awarded Bassett Scholarship. Graduated In Three Years.</p>
						
					<br/><Br/>
				</article>
				
				
			</div>
			<div class="clear"></div>
		</section>
		<br/>
	</div>
</div>

</body>
</html>